<%= form_for [@project, @donation] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :donation_name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :donation_amount %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :donation_email %>
  </div>
  <br>
  <br>
  <div class="field">
    <p><strong> Your Verification Code:</strong></p>
    <%= form.text_field :tag, value:"#{opttag(10)}" %>
    <br>
    <br>
    <div class="alert alert-info">
      <p>Please Copy and paste this value into your Optional tag before sending donation (that way we can verify yuour payment) </p>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
