<%= form_for [@project, @donation] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :donation_name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :donation_amount %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :donation_email %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :donation_tag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
