
<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label for="owner">Your Name</label>
        <%= form.text_field :owner, class:"form-control" %>
      </div>
      <div class="col-sm-4">
        <label for="email">Your Email</label>
        <%= form.text_field :email, class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="url">Your Website</label>
    <%= form.text_field :url, class:"form-control"%>
  </div>
  <div class="form-group">
    <label for="url">Project Title</label>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <label for="description">Project Description</label>
    <%= form.text_area :description, class:"form-control" %>
  </div>
  <div class="form-group">
    <label for=category"">Project Category</label>
    <%= form.select :category, ['Iota','Hardware', 'Mobile', 'Web', 'SaaS', 'Personal', 'Other']%>
  </div>
  <div class="form-group">
    <label for="total">Fundraising Goal</label>
    <%= form.number_field :total, class:"form-control" %>
    <em>(Total Amount you are raising in <strong>Million</strong> Iota)</em>
  </div>
  <div class="form-group">
    <label for="address">Your IOTA Wallet Address</label>
    <%= form.text_field :address, class:"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Post Project", class:"btn btn-default"  %>
  </div>
<% end %>
