<p id="notice"><%= notice %></p>
<div class="body">
<div class="jumbotron">
  <div class="container">
    <h1>IotaStarter</h1>
    <h3>Crowdfunding without Fees!</h3>
    <h3>No Platform Fees. No Payment Processing Fees.</h3>
    <div class="col-sm-6">
      <p>Don't lose 8% on your crowdfunding campaign.</br> Use <a href="https://iota.org/">Iota</a> as ideal payment solution !</p>
      <%= link_to "Learn more", sitedonations_path, class:"btn btn-danger btn-lg" %>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-center">Our Featured Projects</h2>
  <div class="row">
    <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2017/01/23/09/superchargers.jpg">
              <div class="caption">
                <p class="badge pull-left">featured</p></br>
                <h4 class="thumb-featured">Solar-charging electric vehicles</h4>
                <p>Pay-per-use smart battery management systems for all kinds of cars, boats and spaceships.</p>
                by<strong> Elona Muskinson</strong></br>
                <strong>978 GIOTAs </strong>donated</br>
                <strong>138% </strong>funded</br>
                <strong>2 </strong>days to go</br></br>
                <button id="pop" class="btn btn-default pop" role="button">See Project</button>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://icdn4.digitaltrends.com/image/iotas-smart-home-3-640x427-c.jpg">
              <div class="caption">
                <p class="badge pull-left">featured</p></br>
                <h4 class="thumb-featured">Self-renting apartments</h4>
                <p>Heard of self-driving cars? Our smart homes can rent out and maintain themselves.</p>
                by<strong> Ches Briansky</strong></br>
                <strong>103 GIOTAs </strong>donated</br>
                <strong>50% </strong>funded</br>
                <strong>10 </strong>days to go</br></br>
                <button id="pop" class="btn btn-default pop" role="button">See Project</button>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://i.kinja-img.com/gawker-media/image/upload/s--D89mTQNK--/c_scale,f_auto,fl_progressive,q_80,w_800/1149099750978556264.jpg">
              <div class="caption">
                <p class="badge pull-left">featured</p></br>
                <h4 class="thumb-featured">Micropayments in VR games</h4>
                <p>Collecting IOTA payments for tasks in the games, interaction with objects, etc.</p>
                by<strong> Mark Okulusov</strong></br>
                <strong>85 GIOTAs </strong>donated</br>
                <strong>17% </strong>funded</br>
                <strong>25 </strong>days to go</br></br>
                <button id="pop" class="btn btn-default pop" role="button">See Project</button>
            </div>
          </div>
    </div>

  </div>
  <!-- popup modal-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabel">This Project does not exist yet</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">But you can donate to our platform and make this project a reality!</p>
              </br>
              </br>
            </div>
            <div class="modal-footer">
              <div class="text-center">
                <%= link_to "Support our project", sitedonations_path, class:"btn btn-danger btn-large" %>
              </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
  <h3 class="text-center">More Projects</h3>

<% @projects.each do |project| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= project.title %></h3>
    Project Category:
    <span class="badge">
      <%= project.category %>
    </span>
  </div>
  <div class="panel-body">
        <strong>Made By</strong>
        <%= project.owner %>
        <br>
        <strong>Description </strong>
        <%= project.description.truncate(300) %>
        <br>
        <strong>Raising</strong>
        <%= project.total %> Mi (Million Iota)
        <br>
        <br>
        <%= link_to 'See project', project, class:"btn btn-default" %>

      </tr>
  </div>
</div>
<% end %>
  <div class="text-center">
    <%= link_to "Support our project", sitedonations_path, class:"btn btn-danger btn-large" %>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
</div>
