
<div class="container body">

<p>
  <h1><%= @project.title %></h1>
</p>
<p>
  <strong>Category:</strong>
  <span class="badge"><%= @project.category %></span>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @project.owner %>
</p>

<p>
  <strong>IOTA Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Website</strong>
  <%= @project.url %>
</p>


  <p class="text-center"><strong>Funding: </strong></p>
  <h3 class="text-center"><%= @donations.approved.sum(:amount) %> of <%= @project.total %><span> Million Iota</span></h3>
  <% project_completion = (@donations.approved.sum(:amount) / @project.total.to_f) * 100 %>

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="<%= project_completion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project_completion %>%;">
    <%= project_completion %>% towards funding goal
  </div>
</div>

<br>
<%= link_to 'BACK THIS PROJECT', new_project_donation_path(@project), class:"btn btn-danger btn-lg"%>
<br>
<br>

<h2 class="text-center">Backers Leaderboard</h2>

<table>
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Amount</strong></td>
    <td><strong>Website</strong></td>
<% @donations.approved.each do |donation| %>
  </tr>
  <tr>
    <td><%= donation.name %></td>
    <td><%= donation.amount %></td>
    <td><a href="http://"><%= donation.url %></a></td>
  <!--<p>Your Secret Tag</p>
  <%= donation.tag %>-->
<% end %>
</table>
<!--<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'Destroy', project_path, method: :delete, data: { confirm: 'Are you sure?' } %>
-->
</div>
