
<div class="container body">

<p>
  <h1><%= @project.title %></h1>
</p>
<p>
  <strong>Category:</strong>
  <span class="badge"><%= @project.category %></span>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @project.owner %>
</p>

<p>
  <strong>IOTA Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Website</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Total Raising (in Million Iota):</strong>
  <h3><%= @project.total %></h3>
</p>
<br>
<%= link_to 'I WANT TO BACK THIS PROJECT', new_project_donation_path(@project), class:"btn btn-danger"%>
<br>
<br>
<h2 class="text-center">See Backers for this Project !</h2>

<table>
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Amount</strong></td>
    <td><strong>Website</strong></td>
  </tr>
  <% @donations.each do |donation| %>
  <tr>
    <td><%= donation.name %></td>
    <td><%= donation.amount %></td>
    <td><%= donation.url %></td>
  <!--<p>Your Secret Tag</p>
  <%= donation.tag %>-->
<% end %>
</table>
<!--<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'Destroy', project_path, method: :delete, data: { confirm: 'Are you sure?' } %>
-->
</div>
