
<div class="container body">
  <% title @project.title %>
  <% meta_description @project.description.truncate(150, separator: ' ') %>
<p>
  <h1><%= @project.title %></h1>
</p>
<p>
  <strong>Category:</strong>
  <span class="badge"><%= @project.category %></span>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @project.owner %>
</p>

<p>
  <strong>IOTA Address:</strong>
  <%= @project.address %>

</p>

<p>
  <strong>Website</strong>
  <a href="http://<%= @project.url %>"><%= @project.url %></a>
</p>

<p>Share on Social Media to show support: </p>
<%= social_share_button_tag(@project.title, :rel=>"#{ @project.description }" ,:image=> "https://scontent.fbkk7-3.fna.fbcdn.net/v/t1.0-9/21232104_343566339398623_1227064227148784010_n.jpg?oh=a4fe252259e513e216df721bf039d4da&oe=5A5CF1C8") %>

  <p class="text-center"><strong>Funding: </strong></p>
  <h3 class="text-center"><%= @show_balance %> of <%= @project.total %><span> Million Iota</span></h3>


<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="<%= project_completion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project_completion %>%;">
  </div>
</div>

<br>
<%= link_to 'BACK THIS PROJECT', new_project_donation_path(@project), class:"btn btn-danger btn-lg"%>
<br>
<br>

<h2 class="text-center">Backers Leaderboard</h2>

<table>
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Amount</strong></td>
    <td><strong>Website</strong></td>
<% @donations.approved.each do |donation| %>
  </tr>
  <tr>
    <td><%= donation.name %></td>
    <td><%= donation.amount %></td>
    <td><a href="http://<%= donation.url %>"><%= donation.url %></a></td>
  <!--<p>Your Secret Tag</p>
  <%= donation.tag %>-->
  <% end %>
</table>

<!--<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'Destroy', project_path, method: :delete, data: { confirm: 'Are you sure?' } %>
-->

<!-- DISQUS COMMENT SECION -->
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
var disqus_config = function () {
  this.shortname = "project_name";
  this.page.url = "<%= url_for(host: ENV['APPLICATION_HOST']) %>";
  this.page.identifier = 'project-<%= @project.id %>';
  this.page.title = '<%= @project.title %>';
};
*/

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://iotastarter-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
