<!DOCTYPE html>
<html>
  <head>
    <title>IotaStarter</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Crowdfunding Campaign, powered by Iota !">
    <meta name="keywords" content="Iota, Crowdfunding">
    <title>IotaStarter| Crowdfunding Campaign with Iota </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Roboto" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <%= link_to"IotaStarter", root_path, class:"navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to"ADD PROJECT", new_project_path, class:"nav-button"  %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
